<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Alto Banneroid</lang>
    </name>
    <author>
        <lang name="default">andreyv</lang>
    </author>
    <homepage>http://gladcode.ru</homepage>
    <version>0.1</version>
    <requires>
        <alto>
            <version>1.0</version>
        </alto>
        <system>
            <php>5.3.0</php>
        </system>
    </requires>
    <description>
        <lang name="default">Banner rotator for Alto</lang>
        <lang name="russian">Плагин для удобного размещения и управлениями баннерами. Основано на оригинальной разработке от студии http://stfalcon.com</lang>
    </description>
</plugin>
