<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <id>audiofilepreview</id>
    <name>
        <lang name="default">Audiofile Preview</lang>
    </name>
    <author>
        <lang name="default">shtrih</lang>
    </author>
    <homepage>http://4otaku.org</homepage>
    <version>1.0.0</version>
    <dirname>audiofile-preview</dirname>
    <requires>
        <alto>
             <version>1.1.9</version>
        </alto>
        <system>
            <php>5.4.0</php>
        </system>
        <plugins>
            <!-- Атрибуты name, version и condition необязательны -->
            <!-- Возможные значения атрибута condition соответствуют описанию параметра «operator» на странице http://php.net/manual/ru/function.version-compare.php  -->
            <!-- <plugin name="plugin_name" version="1.0.0" condition="eq">plugin_id</plugin> -->
            <plugin name="Multiple File Upload">multiplefileupload</plugin>
        </plugins>
    </requires>
    <description>
        <lang name="default">Дополнение к плагину «Множественная загрузка файлов / Multiple File Upload». Добавляет аудио-/видеоплеер в топик для прослушивания прикрепленных аудио-/видеофайлов.</lang>
    </description>
</plugin>
