<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">HideSpoiler</lang>
        <lang name="russian">HideSpoiler</lang>
    </name>
    <author>
        <lang name="default">Konstantine</lang>
        <lang name="russian">Konstantine</lang>
    </author>
    <homepage>http://seopublic.ru/</homepage>
    <version>0.1</version>
    <requires>
        <livestreet>1.0.1</livestreet>
        <plugins>
        </plugins>
    </requires>
    <description>
        <lang name="default">Replaces design [hide] Hidden Text [/hide] on spoler. Viewing the contents of a chance to achieve a certain count of comments.</lang>
        <lang name="russian">Заменяет конструкцию {hide}Скрытый текст{/hide} на спойлер. Просмотр содержимого которого, возможен по достижению определённого кол-ва комментариев на сайте.</lang>
    </description>
</plugin>
