<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <id>pixelatensfw</id>
    <name>
        <lang name="default">PixelateNsfw</lang>
    </name>
    <author>
        <lang name="default">shtrih</lang>
    </author>
    <homepage>http://4otaku.org</homepage>
    <version>1.0.0</version>
    <dirname>pixelatensfw</dirname>
    <requires>
        <alto>
            <version>1.1.0</version>
        </alto>
        <plugins>
        </plugins>
    </requires>
    <description>
        <lang name="default">Description of plugin Pixelatensfw</lang>
        <lang name="russian">Пикселизуем картинки в nsfw-топиках</lang>
    </description>
</plugin>
