<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <id>mhb</id>
    <name>
        <lang name="default">Must Have Blogs</lang>
    </name>
    <author>
        <lang name="default">Alexei Lukin aka Kerby</lang>
    </author>
    <homepage>http://imthinker.ru/plugin-mhb</homepage>
    <version>3.0.0</version>
    <dirname>mhb</dirname>
    <settings>/admin/settings-mhb</settings>
    <requires>
        <alto>
            <version>1.1.0</version>
        </alto>
        <system>
            <php>5.3.0</php>
        </system>
        <plugins>
        </plugins>
    </requires>
    <description>
        <lang name="default">Plugin subscribes new users to given blogs</lang>
        <lang name="russian">Новые пользователи автоматически вступают в заданные блоги</lang>
    </description>
</plugin>
