<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <id>customvideos</id>
    <name>
        <lang name="default">CustomVideos</lang>
    </name>
    <author>
        <lang name="default">shtrih</lang>
    </author>
    <homepage>http://4otaku.org</homepage>
    <version>1.0.0</version>
    <dirname>customvideos</dirname>
    <requires>
        <alto>
             <version>1.1.0-b2</version>
        </alto>
        <system>
            <php>5.3.0</php>
        </system>
        <plugins>
            <!-- Атрибуты name, version и condition необязательны -->
            <!-- Возможные значения атрибута condition соответствуют описанию параметра «operator» на странице http://php.net/manual/ru/function.version-compare.php  -->
            <!-- <plugin name="plugin_name" version="1.0.0" condition="eq">plugin_id</plugin> -->
        </plugins>
    </requires>
    <description>
        <lang name="russian">Добавляет поддержку вставки видео с сайтов coub.com и amvnews.ru, в диалоге вставки ссылки на видео выводит список поддерживаемых сервисов.</lang>
    </description>
</plugin>
